<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mymenu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
				<key>dateExpires</key>
				<string>2022/11/06</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hexcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30906.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADB181933C0A23272A26E7E97E7DAE0C5FE33171</string>
						<key>dateExpires</key>
						<string>2022/11/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JGFD93LY5G</string>
						<key>name</key>
						<string>siyathokoza mbatha</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JGFD93LY5G.com.nkanyiso.mymenu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JGFD93LY5G</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>JGFD93LY5G.com.nkanyiso.mymenu</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bfe992b8-8991-49f5-8c1c-65a8dbe39ca6</string>
				<key>dateExpires</key>
				<string>2021/11/20</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nkanyiso.mymenu</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JGFD93LY5G</string>
				<key>name</key>
				<string>siyathokoza mbatha</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
